body {
  background-color: #090821;
  color: #fff;
  font-family: Poppins,sans-serif;
  --main-color: #3cefff;
}

.doc-iframe {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 46px;
}

.underline-blue {
  position: relative;
}

.underline-blue::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 2px;
  background-color: var(--main-color);
  /* background: linear-gradient(90deg, #1aecff, #ff1a62); */
  transform-origin: bottom right;
  transform: scaleX(0);
  transition: transform 0.5s ease;
}

.underline-blue:hover::before {
  transform-origin: bottom left;
  transform: scaleX(1);
}
